.main-nav {
  min-height: 70px;
  padding-left: 20px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,40,95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(0, 40, 95);
}

.main-menu {
  width: 250px;

  display: flex;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 400;

  padding-left: 14px;
}

ul li {
  padding-bottom: 12px;
}
.main-menu a.active {
  font-weight: 700;
}

@media (min-width: 576px) {
  .main-nav {
    padding-left: 88px;
  }
  #carrostop-navbar {
    padding-right: 65px;
  }
}

@media (min-width: 992px) {
  #carrostop-navbar {
    padding-right: 203px;
  }
}

@media (min-width: 1200px) {
  #carrostop-navbar {
    padding-right: 491px;
  }
}
